doctype html
html
  head
    include _partial/head
  body
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        .header
          include _partial/header
      .content.pure-u-1.pure-u-md-3-4
        div
          .posts
            - page.posts.each(function (post) {
                !=partial('_partial/article', {post: post})
            - })
          .footer
            include _partial/footer
    !=js('js/script.js')