doctype html
html
  head
    !=partial('_partial/head')
  body
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        .header
          !=partial('_partial/header')
      .content.pure-u-1.pure-u-md-3-4
        .posts
          - page.posts.each(function (post) {
              !=partial('_partial/article', {post: post})
          - })
        .footer
          !=partial('_partial/footer')
    !=js('js/script.js')