doctype html
html
  head
    !=partial('_partial/head')
  body
    #layout.pure-g
      .sidebar.pure-u-1.pure-u-md-1-4
        .header
          !=partial('_partial/header')
      .content.pure-u-1.pure-u-md-3-4
        !=partial('_partial/article', {post: page})
        .post-comment
          if (theme.disqus_shortname)
            !=partial('_partial/disqus')
          else if (theme.duoshuo_shortname)
            !=partial('_partial/duoshuo', {post: page})
        .footer
          !=partial('_partial/footer')
    !=js('js/script.js')