* {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-title a {
    color: #fff;
    text-decoration: none;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    margin-left: 0.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-title a {
    color: #222;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-content {
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 1em 0 0 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}
.post-author,
.post-date,
.post-categories,
.post-tags {
    margin-right: 2em;
}
.post-category,
.post-tag {
    margin: 0 0.5em 0 0;
    padding: 0.15em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
    border-radius: 10%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.archive-year a {
    color: #000;
}
.archive-post {
    position: relative;
    padding: 1em 0 1em 2em;
}
.archive-post > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.archive-post:hover {
    background-color: #eee;
}
.archive-post-title {
    margin: 0;
    padding-right: 0;
}
.archive-post-title a {
    color: #222;
    text-decoration: none;
}
.archive-post-meta {
    color: #999;
    font-size: 90%;
    margin: 1em 0 0 0;
    position: relative;
    z-index: 10;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.video-container {
    position: relative;
    padding-top: 60%;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0; 
}

#post-nav {
    zoom: 1;
    position: relative;
}
#post-nav:before,
#post-nav:after {
    content: "";
    display: table;
}
#post-nav:after {
    clear: both;
}
@media screen and (min-width: 48em) {
    #post-nav {
        margin: 3.125em 0;
    }
    #post-nav:before {
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -0.25em;
        margin-left: -0.25em;
        content: "";
        border-radius: 50%;
        background: #ddd;
        box-shadow: 0 1px 2px #fff;
    }
}
.post-nav-link-wrap {
    text-decoration: none;
    text-shadow: 0 1px #fff;
    color: #999;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 3.125em;
    text-align: center;
    display: block;
}
.post-nav-link-wrap:hover {
    text-decoration: none;
    color: #555;
}
@media screen and (min-width: 48em) {
    .post-nav-link-wrap {
        width: 50%;
        margin-top: 0;
    }
}
@media screen and (min-width: 48em) {
    #post-nav-newer {
        float: left;
        text-align: right;
        padding-right: 1.25em;
    }
}
@media screen and (min-width: 48em) {
    #post-nav-older {
        float: right;
        text-align: left;
        padding-left: 1.25em;
    }
}
.post-nav-caption {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
    line-height: 1em;
    font-weight: bold;
}
#post-nav-newer .post-nav-caption {
    margin-right: -2px;
}
.post-nav-title {
    font-size: 0.85em;
    line-height: 1.6em;
    margin-top: 0.5em;
}

#page-nav {
    zoom: 1;
    margin: 3.125em auto;
    background: #fff;
    box-shadow: 1px 2px 3px #ddd;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    color: #999;
    overflow: hidden;
}
#page-nav:before,
#page-nav:after {
    content: "";
    display: table;
}
#page-nav:after {
    clear: both;
}
#page-nav a,
#page-nav span {
    padding: 0.625em 1.25em;
}
#page-nav a {
    color: #999;
    text-decoration: none;
}
#page-nav a:hover {
    background: #999;
    color: #fff;
}
#page-nav .prev {
    float: left;
}
#page-nav .next {
    float: right;
}
#page-nav .page-number {
    display: inline-block;
}
@media screen and (max-width: 30em) {
    #page-nav .page-number {
        display: none;
    }
}
#page-nav .current {
    color: #555;
    font-weight: bold;
}
#page-nav .space {
    color: #ddd;
}

.footer {
    line-height: 2em;
    margin: 3em 0;
    color: #bbb;
    font-size: 0.85em;
    text-align: center;
}
.footer a {
    text-decoration: none;
}
.footer .social-link a {
    font-size: 1.25em;
    padding: 0 0.5em;
}
.footer a:hover .icon-weibo:before {
    color: #e6162d;
}
.footer a:hover .icon-github:before {
    color: #333;
}
.footer a:hover .icon-gplus:before {
    color: #dd4b39;
}
.footer a:hover .icon-twitter:before {
    color: #00aced;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
@media (max-width: 48em) {
    .post-categories,
    .post-tags {
        display: none;
    }
}

@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/fontawesome.eot');
    src: url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome.woff') format('woff'),
         url('../fonts/fontawesome.ttf') format('truetype'),
         url('../fonts/fontawesome.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before {
    font-family: fontawesome;
    font-weight: normal;
    font-style: normal;
    margin-right: 0.5em;
    color: #666;
}
.icon-user:before { content: '\e800'; }
.icon-tags:before { content: '\e801'; }
.icon-book:before { content: '\e802'; }
.icon-clock:before { content: '\e803'; }
.icon-facebook:before { content: '\e804'; }
.icon-github:before { content: '\e805'; }
.icon-gplus:before { content: '\e806'; }
.icon-twitter:before { content: '\e807'; }
.icon-weibo:before { content: '\e808'; }

blockquote {
    background-color: #ddd;
    margin: 0;
    padding: 0.1em 1em;
    border-left: 5px solid #999
}
code {
    font-family: Menlo, Monaco, Consolas, monospace, serif;
    font-size: 0.85em;
    background-color: #ddd;
    padding: 0.2em 0.5em;
}

.highlight {
    display: block;
    overflow-x: auto;
    background: #ddd;
    color: #4d4d4c;
    padding: 1em;
    font-size: 0.85em;
    border: 1px solid #ccc;
}
.highlight pre {
    font-family: Menlo, Monaco, Consolas, monospace, serif;
    margin: 0;
    padding: 0;
}
.highlight .gutter pre {
    text-align: right;
    padding-right: 1em;
}
.highlight .line {
    height: 1.8em;
    white-space: pre;
}

pre .comment {
    color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #c82829;
}
pre .number,
pre .preprocessor,
pre .pragma,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #eab700;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #718c00;
}
pre .title,
pre .css .hexcolor {
    color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4271ae;
}
pre .keyword,
pre .javascript .function {
    color: #8959a8;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
    opacity: 0.5;
}