.social-link
  a(href="http://weibo.com/" + (theme.weibo ? theme.weibo : "") target="_blank")
    i.icon-weibo
  a(href="https://github.com/" + (theme.github ? theme.github : "") target="_blank")
    i.icon-github
  a(href="https://plus.google.com/" + (theme.gplus ? theme.gplus : "") target="_blank")
    i.icon-gplus
  a(href="https://twitter.com/" + (theme.twitter ? theme.twitter : "") target="_blank")
    i.icon-twitter
.copyright
  | &copy; #{date(new Date(), 'YYYY')} #{theme.author}.
  | Powered by <a href="http://hexo.io" target="_blank">Hexo</a>
  | using <a href="https://github.com/saintwinkle/hexo-theme-pure" target="_blank">Pure</a> theme.