.pure-menu.pure-menu-horizontal.pure-menu-open
  ul
    li
      a(href="http://purecss.io/") About
    li
      a(href="http://twitter.com/yuilibrary/") Twitter
    li
      a(href="http://github.com/yahoo/pure/") GitHub