h1.brand-title #{theme.title}
h2.brand-tagline #{theme.description}
nav.nav
  ul.nav-list
    li.nav-item
      a.pure-button(href="http://purecss.io") Pure
    li.nav-item
      a.pure-button(href="http://yuilibrary.com") YUI Library