* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    margin-left: 0.5em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-content {
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}
.post-author,
.post-date,
.post-categories,
.post-tags {
    margin-right: 2em;
}

.post-category,
.post-tag {
    margin: 0 0.5em 0 0;
    padding: 0.3em 0.8em;
    color: #fff;
    background: #999;
    font-size: 80%;
    border-radius: 10%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
@media (max-width: 48em) {
    .post-categories,
    .post-tags {
        display: none;
    }
}

@font-face {
    font-family: 'fontawesome';
    src: url('fonts/fontawesome.eot');
    src: url('fonts/fontawesome.eot#iefix') format('embedded-opentype'),
         url('fonts/fontawesome.woff') format('woff'),
         url('fonts/fontawesome.ttf') format('truetype'),
         url('fonts/fontawesome.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before {
    font-family: fontawesome;
    font-weight: normal;
    font-style: normal;
    margin-right: 0.5em;
    color: #666;
}
.icon-user:before { content: '\e800'; }
.icon-tags:before { content: '\e801'; }
.icon-book:before { content: '\e802'; }
.icon-clock:before { content: '\e803'; }
.icon-facebook:before { content: '\e804'; }
.icon-github:before { content: '\e805'; }
.icon-gplus:before { content: '\e806'; }
.icon-twitter:before { content: '\e807'; }
.icon-weibo:before { content: '\e808'; }

blockquote {
    background-color: #ddd;
    margin: 0;
    padding: 0.1em 1em;
    border-left: 5px solid #999
}
code {
    font-family: Menlo, Monaco, Consolas, monospace, serif;
    font-size: 0.85em;
    background-color: #ddd;
    padding: 0.2em 0.5em;
}

.highlight {
    display: block;
    overflow-x: auto;
    background: #ddd;
    color: #4d4d4c;
    padding: 1em;
    font-size: 0.85em;
    border: 1px solid #ccc;
}
.highlight pre {
    font-family: Menlo, Monaco, Consolas, monospace, serif;
    margin: 0;
    padding: 0;
}
.highlight .gutter pre {
    text-align: right;
    padding-right: 1em;
}
.highlight .line {
    height: 1.8em;
    white-space: pre;
}

pre .comment {
    color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
    color: #c82829;
}
pre .number,
pre .preprocessor,
pre .pragma,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
    color: #f5871f;
}
pre .ruby .class .title,
pre .css .rules .attribute {
    color: #eab700;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
    color: #718c00;
}
pre .title,
pre .css .hexcolor {
    color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
    color: #4271ae;
}
pre .keyword,
pre .javascript .function {
    color: #8959a8;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
    opacity: 0.5;
}